.container {
  /* 두 줄로 list를 만들기 위해서 박스 width를 50%로 해준다. 하지만 박스에 border 두께가 존재하기 때문에 두 줄로 바뀌지 않는다. box-sizing 의 기본값인 content-box를 border-box로 변경해줘야 50% 크기 안에서 모든 설정 값이 반영된 박스가 완성되고 flex-wrap: wrap; 을 통해 박스를 정렬 */
  width: 50%;
  padding: 0.2em;
}

.video {
  cursor: pointer;
  transition: transform 250ms ease-in;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  box-shadow: 7px 8px 13px -4px rgba(0, 0, 0, 0.74);
}

.video:hover {
  transform: scale(1.02);
}

.metadata {
  margin-left: 0.2em;
}

.thumbnail {
  width: 40%;
  height: 100%;
}

.title,
.channel {
  margin: 0;
  font-size: 0.8rem;
}

.channel {
  font-size: 0.6rem;
}
